<div class="lead">
  <h3><%= @post.title %>
    <% if logged_in? && current_user == @post.creator %>  
      <small>
        <%= link_to '(edit)', edit_post_path(@post) %>
      </small>
    <% end %></h3>
  <% @post.categories.each do |category| %>
  <span class='label label-success'><%= category.name %></span>
  <% end %>      
  
</div>
  
<div class="row">
  <div class="span8 well"> 
    <%= @post.description %>
    <br/>
    <span class="quiet">posted by</span>
    <%= link_to @post.creator.username, @post.creator %>
    <small>at <%= time_tag @post.created_at %></small>
  </div>
</div>

<% if logged_in? %>  
  Leave a comment:
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :description %>
    <br/>
    <%= f.submit %>
  <% end %>
<% end %>

Comments:  
<br/>
<% @post.comments.each do |comment| %>
  <div class="row">
    <div class="span8 well">
      <%= comment.description %>
      <br/>
      <span class="quiet">posted by</span>
      <%= link_to comment.creator.username, comment.creator %>
      <small>at <%= time_tag comment.created_at %></small>
    </div>
  </div>
<% end %>