<div class="lead">
  <h3><%= @post.title %>
  <%= render 'shared/show_edit', obj: @post %><br/>
  <%= render 'shared/show_category_labels', obj: @post.categories %>
</div>
  
<div class="row">
  <div class="span8 well"> 
    <%= @post.description %>
    <br/>
    <%= render 'shared/show_user_link', obj: @post.creator %>
  </div>
</div>

<% if logged_in? %>  
  Leave a comment:
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :description %>
    <br/>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @post.comments.size > 0 %>
  Comments:  
  <br/>
  <% @post.comments.each do |comment| %>
    <div class="row">
      <div class="span0 well text-center">
        <% if current_user %>
          <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
            <i class='icon-arrow-up'></i>
          <% end %>
        <br/>
        <% end %>
        <span id="post_<%= @post.to_param %>_<%= comment.id %>_votes">
            <%= pluralize(comment.total_votes, 'vote') %>
        </span>
        <% if current_user %>
          <br/>
          <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
            <i class='icon-arrow-down'></i>
          <% end %>
        <% end %>
      </div>  
      <div class="span8 well">
        <%= comment.description %>
        <br/>
        <span class="quiet">posted by</span>
        <%= link_to comment.creator.username, comment.creator %>
        <small>at <%= time_tag comment.created_at %></small>
      </div>
    </div>
  <% end %>
<% end %>